# Default values for fft_boxing.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

jobParam:
  name: ""
  dataDir: ""
  description: ""
  timeSlice: 0.1
  restartPolicy: OnFailure


dataVolumeName: storage
matlabLicenseMAC: "02:42:ac:11:00:03"

image:
  registry: wcsng-36.ucsd.edu

resources:
  limits:
    cpu: 5000m
    memory: 8Gi
    nvidia.com/gpu: 1
  requests:
    cpu: 3000m
    memory: 6Gi
    nvidia.com/gpu: 1

requiredGPU: []
# requiredGPU: 
# - NVIDIA-GeForce-GTX-1070
# - NVIDIA-GeForce-GTX-1080
# - NVIDIA-GeForce-GTX-1080-Ti
# - NVIDIA-A100-PCIE-40GB-MIG-2g.10gb
# - Tesla-T4
# - Tesla-V100-SXM2-32GB
# - NVIDIA-GeForce-RTX-3090
# - NVIDIA-GeForce-RTX-2080-Ti
# - NVIDIA-TITAN-Xp
# - NVIDIA-TITAN-RTX
# - NVIDIA-RTX-A5000
# - NVIDIA-RTX-A6000
# - Quadro-M4000
# - Quadro-RTX-8000
# - NVIDIA-A40